@import url("https://fonts.google.com/specimen/Red+Hat+Display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
	--paleBlue: hsl(225, 100%, 94%);
	--brightBlue: hsl(245, 75%, 52%);

	--veryPaleBlue: hsl(225, 100%, 98%);
	--desaturatedBlue: hsl(224, 23%, 55%);
	--darkBlue: hsl(223, 47%, 23%);

}

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--paleBlue);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-weight: bold;
}
.change-plan-cost a{
	color: var(--veryPaleBlue);
	cursor: pointer;
}
.change-plan-cost a:hover{
	color: var(--darkBlue);
}
.cancel-order a{
	color: var(--desaturatedBlue);
}
.cancel-order a:hover{
	color: black;
}

h1{
    margin:1.25rem auto;
}
h2{
	font-size:1rem;
}
p{
    margin: 0;
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.card{
    width: 25rem;
    background-color: white;
    border-radius: 1rem;
}
.illustration-hero{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card-info{
    padding: 1.5rem 3rem;
    font-weight: 500;
}
.desc{
    margin: 1rem 2rem;
    color: hsl(224, 23%, 55%);
}
.annual-plan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--veryPaleBlue);
}
.change-plan-cost{
    display: flex;
    flex-wrap: wrap;
}
button{
    background-color: var(--brightBlue);
    padding: 0.65rem 1.8rem;
    color: white;
    width: 100%;
    margin: 20px auto 20px;
    font-weight: 700;
    border-radius: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px hsl(245deg 75% 52% / 49%);
    border: none;
}
button:hover{
    background-color: hsl(245, 100%, 65%);
}
.costamt{
    padding-left: 0.8rem;
}
#costamt p:last-child{
    color:var(--desaturatedBlue) ;
}

